<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="obj1" class="kr.co.ezenac.beans.TestBean1">
		<property name="data1" ref="data_bean1"></property>
		<property name="data2" ref="data_bean1"></property>
	</bean>
	<bean id="data_bean1" class="kr.co.ezenac.beans.DataBean1" scope="prototype"></bean>
	
	<!-- 필드와 같은 이름의 bean객체를 생성자로 주입 -->
	<bean id="obj2" class="kr.co.ezenac.beans.TestBean1" autowire="byName"></bean>
	<bean id="data1" class="kr.co.ezenac.beans.DataBean1"></bean>
	<bean id="data2" class="kr.co.ezenac.beans.DataBean1"></bean>
	
	<bean id="obj3" class="kr.co.ezenac.beans.TestBean2" autowire="byType"></bean>
	<!-- <bean class="kr.co.ezenac.beans.DataBean2" scope="prototype"></bean> -->
	
	<bean id="obj4" class="kr.co.ezenac.beans.TestBean3">
		<constructor-arg ref="data_bean2" index="0"></constructor-arg>
		<constructor-arg ref="data_bean2" index="1"></constructor-arg>
	</bean>
	
	<bean id="data_bean2" class="kr.co.ezenac.beans.DataBean2"></bean>
	
</beans>


